@import 'tailwindcss';

@theme {
  --font-display: 'Inter Variable', sans-serif;
  --font-serif: 'Readex Pro Variable', sans-serif;
}

img {
  @apply mb-4 block rounded-lg;
}

body {
  @apply font-display max-w-225 p-10 pb-40;
}

h1,
h2,
h3,
p,
ul {
  @apply mb-4;
}

a {
  @apply text-blue-600;

  &[href*='gist'],
  &[href*='Selivanov'] {
    @apply text-red-600;
  }
}

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl font-bold;
}

h1,
h2,
h3 {
  @apply mt-8 font-serif;
}

ul {
  padding-left: 2em;

  ::marker {
    content: '- ';
    color: gray;
  }
}
