@import 'tailwindcss';

@theme {
  --font-display: 'Geist Mono', sans-serif;

  --container-xl: 900px;
}

@layer utilities {
  .link {
    @apply text-sky-500;
  }

  .inline-list {
    @apply inline-flex gap-3;

    li:not(:last-of-type)::after {
      @apply pl-3;
      content: '/';
    }
  }

  u {
    text-underline-offset: -2px;
    text-decoration-thickness: 6px;
    text-decoration-color: var(--color-gray-200);
    text-decoration-skip-ink: none;
  }

  p {
    @apply mb-4;
  }

  .experience-list {
    li::marker {
      content: '- ';
    }
  }

  strong {
    @apply print:font-normal;
  }
}
